*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    color: white;
}

.left, .right{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.bigchild, .child{
    background-color: rgba(33, 28, 28, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigchild{
    width: calc(100% - 10px);
    height: calc(50vh -10px);
    align-items: flex-start;
    padding: 20px;
}

.child{
    width: calc(50% - 10px);
    height: 25vh;
}